@model IEnumerable<Common.Employee>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <br />
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">MidName</th>
                <th scope="col">LastName</th>
                <th scope="col">Department</th>
                <th scope="col">DepPhone</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
             {
                <tr>
                    <th scope="row">@employee.Name</th>
                    <th scope="row">@employee.MidName</th>
                    <th scope="row">@employee.LastName</th>
                    <th scope="row">@employee.Department</th>
                    <th scope="row">@employee.DepPhone</th>
                </tr>
             }
        </tbody>
    </table>
</div>

@Html.ActionLink("Go Search>>", "Index", "Search",null, new { @class = "btn btn-default" })